<div class="login">
  <div class="container">
    <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required formControlName="email" >

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required formControlName="password">

        <button type="submit">Login</button>
      </form>

    <p class="emailValidation">Invalid email address.</p>
    <p class="loginError">Invalid email or password.</p>
  </div>
</div>