body {
  margin: 0;
}
div {
  min-height: 100vh;
  background: url("src/assets/images/houses.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Keeps the background fixed even on scroll */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  div {
    background-size: auto;
    background-position: center center;
  }
}